{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div>
<div class="typewriter">
    <h1>Zdravíčko!</h1>
    <h4 class="line1">Toto je tedy jednoduché portfolio využívající symfony.</h4>
    <h4 class="line2">Využil jsem Favicon, menší animace a další hrátky.</h4>
   
</div>
</div>
{% endblock %}
