{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<div class="container">

        <div class="typewriter">
        <center>
            <h4 class="line1">My whole portfolio is a long-lasting project that I am proud of.</h4>
        </center>
        </div>
        <a href="https://brych.pythonanywhere.com/">
        <img class="picture" src="{{ asset('images/rodina.jpg') }}" alt="Profile Picture">
        </a>
</div>



{% endblock %}
