{% extends 'base.html.twig' %}

{% block title %}Space Shooter{% endblock %}

{% block body %}

<div class="container">
<div class="wrapper">
<div class="typewriter">
<center>
     <h4 class="line1">A short and quick "Space Shooter" game, created to test Python skills in the pygame library.</h4>
     <h4 class="line1">The source code for the game is again on <a href="https://github.com/brychjakub/SpaceShooter.git">GitHub</a>.</h4>
</center>
</div>

</div>
<div class="responsive-iframe-container">
    <iframe src="https://www.youtube.com/embed/l8kt03E0U8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>




{% endblock %}
